@import "variable";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
}
body {
  font-family: "Lato", sans-serif;
}

//header section
nav {
  height: 67px;
  border-bottom: 1px solid lightgray;
}
#navbarSupportedContent {
  position: absolute;
  top: 100%;
  .navbar-nav {
    a:hover,
    a:active {
      color: $primary;
    }
  }
  .nav-item {
    & > a {
      letter-spacing: 1.84px;
      color: $black;
      font-size: 10px;
    }
    .dropdown-menu {
      width: 320px;
      padding-left: 1rem;
      padding-right: 1rem;
      a {
        padding: 0;
      }
    }
    .category {
      border-right: 1px solid $color2;
      margin-right: 23px;
    }
    .category,
    .collection {
      display: inline-block;
      width: 140px;
      span {
        letter-spacing: 1.84px;
        color: $color2;
        font-size: 8px;
      }
      a {
        color: $color2;
        letter-spacing: 0.5px;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}
.navbar-brand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 17px;
  height: 23px;
  padding: 0;
  img {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}
.login-and-cart {
  a {
    padding: 5px;
    i {
      font-size: 15px;
      color: $black;
      opacity: 1;
    }
  }
}
.header {
  background-color: $primary;
  padding: 14px 0;
  position: relative;
  h3.heading.text-center {
    letter-spacing: 2.4px;
    font-size: 9px;
    color: $white;
  }
  .header-icon {
    position: absolute;
    top: 11px;
    right: 13px;
  }
}
.footer {
  background-color: $secondary;
  color: $black;
}
.footer-icon a {
  background-color: $white;
  border-radius: 50px;
  i {
    color: $black;
  }
}

footer {
  margin-top: 300px;
  a {
    color: $gray1;
    opacity: 0.9;
  }
  h6 {
    font-size: 22px;
  }
  .get-in-touch {
    font-size: 15px;
    color: $gray1;
  }
  .footer-para {
    a {
      color: $primary;
    }
  }
  .email-form {
    input[type="email"] {
      border: none;
      background-color: transparent;
      border-bottom: 1px solid black;
      font-size: 13px;
      opacity: 0.8;
      min-width: 181px;
      &:focus {
        outline: none;
      }
    }
    button {
      margin-left: 1rem;
      font-size: 14px;
      background-color: $white;
      padding: 5px 8px;
      text-transform: uppercase;
      letter-spacing: 2px;
      border: 1px solid transparent;
      border-radius: 66px;
    }
  }
  .social-icons {
    a {
      display: inline-block;
      padding: 3px 5px;
      i {
        font-size: 23px;
      }
    }
  }
  .social {
    margin-left: 1rem;
    p {
      letter-spacing: -0.4px;
      color: $black;
      font-size: 13px;
      margin-top: 13px;
    }
  }
  .footer-logo {
    letter-spacing: -0.4px;
    color: $black;
    font-size: 13px;
  }
}

//slider carousel
.slider {
  width: 80%;
  margin: 17rem auto 0;
  .slick-slider {
    .slick-prev,
    .slick-next {
      background-color: $black;
      border-radius: 50%;
      &::before {
        color: $white;
        opacity: 1;
      }
    }
  }
  .item-para,
  .item-btn {
    padding: 0 1rem;
    background-color: $secondary;
    p {
      margin: 0;
    }
  }
  .item-para {
    h6 {
      letter-spacing: -0.56px;
      color: $black;
      font-size: 14px;
      font-weight: 900;
      padding: 1rem 0;
      margin: 0;
    }
    p {
      letter-spacing: -0.4px;
      color: $gray1;
      font-size: 10px;
      padding-bottom: 2rem;
    }
  }
  .item-btn {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    span {
      letter-spacing: -0.56px;
      color: $primary;
      font-size: 14px;
    }
    button {
      color: $white;
      text-transform: uppercase;
      background-color: $black;
      border: 1px solid transparent;
      border-radius: 21px;
      font-size: 8px;
      span {
        color: $white;
        font-size: 8px;
        letter-spacing: 1.6px;
      }
    }
  }
}
.slick-dots li button:before {
  font-size: 25px;
  color: gray;
  margin-top: 1rem;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: $primary;
}

@media screen and (min-width: 768px) {
  .header {
    h3.heading.text-center {
      letter-spacing: 3px;
      font-size: 12px;
      margin: 0;
    }
    .header-icon {
      position: absolute;
      top: 8px;
      right: 13px;
    }
  }
  .item-para,
  .item-btn {
    width: 325px;
  }
}

@media screen and (min-width: 992px) {
  footer .email-form input[type="email"] {
    min-width: 200px;
  }
  #navbarSupportedContent {
    position: static;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    top: 47px;
  }
  .navbar-brand {
    width: 71px;
    height: 100px;
    top: 48px;
  }
}
